<head>
    <meta charset="utf-8" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <link href="/common/resources/css/global.css" rel="stylesheet" data-role="global">
    <script src="/common/resources/js/global.js"></script>
    <link rel="stylesheet" href="https://s0.pstatp.com/cdn/expire-1-M/codemirror/5.46.0/codemirror.min.css">
    <script src="https://s0.pstatp.com/cdn/expire-1-M/codemirror/5.46.0/codemirror.min.js"></script>
    <script src="https://s3.pstatp.com/cdn/expire-1-M/codemirror/5.46.0/mode/javascript/javascript.min.js"></script>
    <script src="https://s0.pstatp.com/cdn/expire-1-M/codemirror/5.46.0/mode/css/css.min.js"></script>
    <title>【{{.Resource.Name}}】 - 资源编辑器</title>
    <style>
        body {padding: 0;margin: 0;font-size: 16px;}
        .title {font-size: 18px;line-height: 30px;font-weight: bold;}
        .edit-area {padding: 10px;line-height: 28px;}
        .CodeMirror {border: 1px solid #ccc;min-height: 600px;}
        button {position: fixed;top: 10px;right: 10px;}
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/pages/site/admin/index.html">站点管理</a></li>
            <li><a href="/pages/admin/resources.html">资源编辑器</a></li>
            <li>编辑</li>
        </ul>
    </nav>
    <div class="edit-area">
        <div class="title">名称：{{.Resource.Name}}</div>
        <div class="title">类型：{{.Resource.ContentType}}</div>
        <textarea class="longText" id="raw">{{.ResourceString}}</textarea>
        <button class="floatMainAction" id="save">立即保存修改</button>
    </div>
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("raw"), {
            lineNumbers: true,
            lineWrapping: true,
            mode: "{{.Resource.ContentType}}"=="text/css"?"css":"javascript"
        })
        let saveBtn = document.querySelector("#save")
        let pageFooter = document.querySelector("#raw")

        saveBtn.onclick = _ => {
            editor.save()
            // loadding
            saveBtn.innerHTML = '提交中...'
            saveBtn.disabled = true

            // api
            let id = '{{.Resource.ID.Hex}}'
            fetch('/api/v1/admin/resources/' + id + '/raw', {
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    ResourceString: raw.value
                })
            }).then(handleException).then(json => {
                window.location.reload()
            }).catch(e => {
                alert(e.data.Message)
                window.location.reload()
            })
        }
    </script>
</body>
