<!doctype html><html>
<head>
    <meta charset="utf-8" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <link href="/common/resources/css/global.css" rel="stylesheet" data-role="global">
    <script src="/common/resources/js/global.js"></script>
    <title>{{.User.Name}}</title>
    <style>
        .profile {padding: 10px;}
        .profile ul li {line-height: 26px;}
        .profile ul li .actived {color: #69c;}
        .profile ul li .unactived {color: red;}
        .profile ul li .online,.profile ul li .offline {margin-left: 5px;font-size: 14px;font-weight: bolder;}
        .profile ul li .online {color: #69c;}
        .profile ul li .offline {color: #ccc;}
    </style>
</head>
<body>
{{rwctx .SiteContext.Site.Header .SiteContext}}
<nav>
    <ul>
        <li><a href="/">首页</a></li>
        <li>个人资料</li>
    </ul>
</nav>
<main>
<div class="profile">
    <div class="title">基础资料</div>
    <ul>
        <li>用户名：{{.User.Name}}{{if .Online}}<span class="online">在线</span>{{else}}<span class="offline">不在线</span>{{end}}</li>
        <li>邮箱：{{if .SiteContext.Session}}{{.User.Email}}{{else}}******{{end}}</li>
        <li>注册时间：{{intelliTime .User.CreateTime}}</li>
        <li>注册地点：{{$s := site .User.SiteID.Hex}}{{if $s}}<a href="https://{{index $s.Hosts 0}}">{{$s.Name}}</a>{{else}}查询中{{end}}</li>
        <li>金币：<span class="coin">
            {{if .User.Coins}}
                {{if (index .User.Coins .SiteContext.Site.ID.Hex)}}
                    {{index .User.Coins .SiteContext.Site.ID.Hex}}
                {{else}}0{{end}}
            {{else}}0{{end}}</span></li>
        <li>在线时长：{{if .User.OnlineDuration}}
            <span>{{intelliDuration (index .User.OnlineDuration .SiteContext.Site.ID.Hex).Duration}}</span>
            {{else}}
            <span>从未</span>
            {{end}}</li>
        <li>状态：{{if .User.Active}}<span class="actived">已激活</span>{{else}}<span class="unactived">未激活</span>{{end}}</li>
    </ul>
    {{if .SiteContext.Session}}
    {{if eq .User.Name .SiteContext.Session.Name}}
    <div class="title">操作</div>
    <ul>
        <li><a href="/logout.html">登出当前帐号</a></li>
        {{if eq .SiteContext.Session.UserID .SiteContext.Site.User.ID.Hex}}
        <li><a href="/pages/site/admin/index.html">管理后台</a></li>
        {{end}}
    </ul>
    {{end}}{{end}}
</div>
</main>
<script>
    function registerSite() {
        if(!siteName.value) {
            siteName.focus()
            return
        }
        if(!sitePrefix.value) {
            sitePrefix.focus()
            return
        }
        document.querySelectorAll('input').forEach(d => d.disabled = true)
        mainAction.disabled = true
        mainAction.innerHTML = '提交中...'
        fetch('/api/v1/site/sites', {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                Prefix: sitePrefix.value,
                Name: siteName.value,
            })
        }).then(handleException).then(json => {
            window.location.href = 'https://' + sitePrefix.value+'.{{.SiteConfig.Domain}}'
        }).catch(e => {
            console.log(e)
            alert(e.data.Message)
            window.location.reload()
        })
    }
</script>
{{rwctx .SiteContext.Site.Footer .SiteContext}}
</body></html>
