<head>
    <meta charset="utf-8" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <link href="/common/resources/css/global.css" rel="stylesheet" data-role="global">
    <script src="/common/resources/js/global.js"></script>
    <link rel="stylesheet" href="/common/static/codemirror/lib/codemirror.css">
    <script src="/common/static/codemirror/lib/codemirror.js"></script>
    <script src="/common/static/codemirror/addon/hint/show-hint.js"></script>
    <script src="/common/static/codemirror/addon/hint/xml-hint.js"></script>
    <script src="/common/static/codemirror/addon/hint/html-hint.js"></script>
    <script src="/common/static/codemirror/mode/xml/xml.js"></script>
    <script src="/common/static/codemirror/mode/javascript/javascript.js"></script>
    <script src="/common/static/codemirror/mode/css/css.js"></script>
    <script src="/common/static/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <title>站点信息编辑器</title>
    <style>
        .edit-area {padding: 10px;line-height: 28px;}
        .edit-area textarea {display: block;max-width: 100%;min-width: 100%;min-height: 46px;padding: 10px;}
        .edit-area .longText:focus {height: 900px;}
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/pages/site/admin/index.html">站点管理</a></li>
            <li>站点信息</li>
        </ul>
    </nav>
    <div class="edit-area">
        <div class="title">*名称</div>
        <textarea id="siteName">{{.SiteContext.Site.Name}}</textarea>
        <div class="title">顶部</div>
        <textarea class="longText" id="siteHeader">{{.SiteContext.Site.Header}}</textarea>
        <div class="title">底部</div>
        <textarea class="longText" id="siteFooter">{{.SiteContext.Site.Footer}}</textarea>
        <button class="floatMianAction" id="save">立即保存修改</button>
    </div>
    <script>
        var siteHeaderEditor = CodeMirror.fromTextArea(document.getElementById("siteHeader"), {
            lineNumbers: true,
            lineWrapping: true,
            mode: 'htmlmixed'
        })
        var siteFooterEditor = CodeMirror.fromTextArea(document.getElementById("siteFooter"), {
            lineNumbers: true,
            lineWrapping: true,
            mode: 'htmlmixed'
        })
        let saveBtn = document.querySelector("#save")
        let siteName = document.querySelector("#siteName")
        let siteHeader = document.querySelector("#siteHeader")
        let siteFooter = document.querySelector("#siteFooter")

        saveBtn.onclick = _ => {
            siteHeaderEditor.save()
            siteFooterEditor.save()
            // loadding
            saveBtn.innerHTML = '提交中...'
            saveBtn.disabled = true

            // api
            let id = '{{.SiteContext.Site.ID.Hex}}'
            fetch('/api/v1/site/admin/sites', {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    Name: siteName.value,
                    Header: siteHeader.value,
                    Footer: siteFooter.value
                })
            }).then(handleException).then(json => {
                window.location.reload()
            }).catch(e => {
                alert(e.data.Message)
                window.location.reload()
            })
        }

    </script>
</body>
